*
{
    box-sizing: border-box;
    color: #333333;
    float:left;
    font: 35px Arial, sans-serif;
    /*overflow-x: hidden;*/
}
a
{
    color: darkgray;
    /*text-decoration: underline darkgray solid;*/
    text-decoration: none;
    text-shadow: .5vh .5vw .5vh darkblue;
}
body
{
    background-color:Lavender;
    height: 190vh;
    width:100vw;
    margin:0;
}

h2
{
    font: 20px Arial, sans-serif;
    margin: 0;
}

header
{
    background-color:Lavender;
    height:35vh;
    width:100vw;
    color:black;
    float:left;
    font: 35px Arial, sans-serif;
    margin:0;
}

.advertisement
{
    height: 25vh;
    width: 100vw;
}

/*
    font: 40px Arial, sans-sherif;
    font-weight: bold;
    margin: 2vh 0 2vh 0;
    text-align: center;
    text-shadow: .2vh .2vw .5vh darkslateblue;
*/

.attentionGrabber
{
    font: 40px Arial, sans-sherif;
    font-weight: bold;
    height: 13vh;
    margin: 2vh 0 2vh 0;
    text-align: center;
    text-shadow: .2vh .2vw .5vh darkslateblue;
    width: 90vw;
}

.contentPage
{
    float:left;
    height: inherit;
    padding: 10vh 5vw 10vh 5vw;
    width:100vw;
}

.pageBreak
{
    background-color:darkslateblue;
    height: 1vh;
    margin-bottom: 10vh;
    width: 90vw;
    border-radius: 3vw;
}

.playerPhoto
{
    background-color: darkslateblue;
    border: .5vw solid darkslateblue;
    border-radius: .5vw;
    box-sizing: border-box;
    height: 35vh;
}

.selectionTab
{
    float:left;
    height: 10vh;
    width:20vw;
}

.selectionTab2
{
    width:10vw;
}

.teamDescriptionBox
{
    width: 45vw;
}

.teamDescriptions
{
    padding: 0 2vw 0 3vw;
    width: 30vw;
}

.title
{
    background-color:darkslateblue;
    height:20vh;
    padding-top:10vh;
    text-align: center;
    text-shadow: .5vh .5vw .5vh darkblue;
    width:100vw;
}

#claim
{
    height: 30vh;
    font: 40px Arial, sans-sherif;
    font-weight: bold;
    margin: 2vh 0 2vh 0;
    text-align: center;
    text-shadow: .2vh .2vw .5vh darkslateblue;
    width: 90vw;
}

#g2Logo
{
    height: 10vw;
    width: 10vw;
}

#introductionText
{
    height: 235px;
    padding: 0 0 0 2vw;
    width: 545px;
}

#lcsPicture
{
    height: 215px;
    padding: 0 0 20px 0;
    width: 545px;
}

#lCSSummerFinalsPhoto
{
    background-color: darkslateblue;
    border: .5vw solid darkslateblue;
    border-radius: .5vw;
    box-sizing: border-box;
    height: 50vh;
    width: 45vw;
}

#lCSSummerFinalsPhotoCaption
{
    height: 15vh;
    padding: 2vh;
    text-align: center;
}

#overview1
{
    height: 30vh;
    padding: 0 0 2vh 2vw;
    width: 43vw;
}

#overview2
{
    height: 32vh;
    padding: 0 0 0 2vw;
    width: 43vw;
}

#overview3
{
    height: 32vh;
}

#overviewContent1
{
    height: 65vh; 
}

#overviewContent2
{
    width: 90vw;
}

#overviewOutro
{
    font: 30px Arial, sans-sherif;
    margin: 2vh 0 2vh 0;
    text-align: center;
    text-shadow: .2vh .2vw .5vh darkslateblue;
}

#photoAlphari
{
    margin: 0 0 8vh 7vw;
    width: 23vw;
}

#photoPerkz
{
    margin: 0 0 8vh 2vw;
    width: 26vw;
}

#photoSwordart
{
    margin: 0 2vw 8vh 7vw;
    width: 23vw;
}

#raidAd
{
    height: 25vh;
    margin-left: 15vw;
    width: 70vw;
}

#selected
{
    color: mediumpurple;
    text-shadow: .5vh .5vw .5vh indigo;
}
#selectionBar
{
    background-color:darkslateblue;
    height:15vh;
    padding-top:5vh;
    text-align: center;
    width:100vw;	
}

#teamLiquidLogo
{
    height: 10vw;
    width: 10vw;
}

#title1
{
    color: darkgray;
    font: 45px Arial, sans-sherif;
    font-weight: bold;
    margin: 0;
    padding: 0 0 1.5vh 0;
    text-align: center;
    width: 100vw;
}